{% extends 'base.html.twig' %}

{% block title %}I Am Seb w/ Symfony
{% endblock %}

{% block body %}
	{# React Component Home #}
	<div id="home" {{react_component('pages/Home/Home')}}></div>
{% endblock %}
