{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{# React Component Home #}
<div id="home" {{react_component('Home/Home')}}></div>
{% endblock %}
