:root {
	/* Light Mode */
	--bg__color: #ffffff;
	--text__color: #000000;
	--nav__bg__color: #ffffff;
	--li__bg__color: #dddddd7e;
	--li__hovered: rgba(177, 222, 236, 0.216);
	--li__border__hovered: rgb(177, 222, 236);
	/* Dark Mode */
	--dark__bg__color: #141414;
	--dark__text__color: #ffffff;
	--dark__nav__bg__color: #171717;
	--dark__li__bg__color: #ffffff1a;
	--dark__li__hovered: #ffffff0f;
	--dark__li__border__hovered: #f0983a84;
}

body.dark {
	background-color: var(--dark__bg__color);
	color: var(--dark__text__color);
}
body {
	margin: auto;
	background-color: var(--bg__color);
	color: var(--text__color);
	/* overflow: hidden; */
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 100vh;
}

body > h1,
body.dark > h1 {
	z-index: 1;
}

body > nav > h2 {
	opacity: 0;
}

/*
|--------------------------------------
| Navbar + Hover Effect + Dark Mode
|--------------------------------------
*/

body.dark > nav {
	background-color: var(--dark__bg__color);
}
body > nav {
	position: fixed;
	width: 80%;
	border-radius: 5rem;
}

body.dark > nav > .menu__ul {
	background-color: var(--dark__bg__color);
}
body > nav > .menu__ul {
	height: 100%;
	background-color: var(--bg__color);
	border-radius: 2rem;
	/* overflow: hidden; */
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 2px;
	margin: 0;
	padding: 0;
}

body.dark > nav > .menu__ul > .menu__li {
	background-color: var(--dark__li__bg__color);
	box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.1);
}
body > nav > .menu__ul > .menu__li {
	margin: 0;
	width: 25%;
	background-color: var(--li__bg__color);
	text-align: center;
	vertical-align: middle;
	line-height: 3.5rem;
	position: relative;
	cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

body > nav > .menu__ul > .menu__li:nth-child(1) {
	border-radius: 5rem 1rem 1rem 5rem;
}

body > nav > .menu__ul > .menu__li:nth-child(2),
body > nav > .menu__ul > .menu__li:nth-child(3) {
	border-radius: 0.25rem;
}

body > nav > .menu__ul > .menu__li:nth-child(4) {
	border-radius: 1rem 5rem 5rem 1rem;
}

body > nav > .menu__ul:hover > .menu__li > .li__border {
	opacity: 1;
}

body > nav > .menu__ul > .menu__li:hover::before {
	opacity: 1;
}

.menu__li::before,
.menu__li > .li__border {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	z-index: 2;
}

body.dark .menu__li::before {
	background: radial-gradient(
		700px circle at var(--mouse-x) var(--mouse-y),
		var(--dark__li__hovered),
		transparent 40%
	);
	z-index: 3;
}
.menu__li::before {
	background: radial-gradient(700px circle at var(--mouse-x) var(--mouse-y), var(--li__hovered), transparent 40%);
	z-index: 3;
}

body.dark > nav > .menu__ul > .menu__li > .li__border {
	background: radial-gradient(
		350px circle at var(--mouse-x) var(--mouse-y),
		var(--dark__li__border__hovered),
		transparent 40%
	);
	z-index: 1;
}
body > nav > .menu__ul > .menu__li > .li__border {
	background: radial-gradient(
		350px circle at var(--mouse-x) var(--mouse-y),
		var(--li__border__hovered),
		transparent 40%
	);
	z-index: 1;
}

body.dark > nav > .menu__ul > .menu__li > .li__content {
	background-color: var(--dark__nav__bg__color);
}
body > nav > .menu__ul > .menu__li > .li__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--nav__bg__color);
	border-radius: inherit;
	height: calc(100% - 2px);
	width: calc(100% - 2px);
	margin: 1px;
	position: relative;
	z-index: 2;
}

body.dark > nav > .menu__ul > .menu__li > .li__content > a {
	color: var(--dark__text__color);
}
body > nav > .menu__ul > .menu__li > .li__content > a {
	text-decoration: none;
	color: var(--text__color);
	width: 100%;
	border-radius: inherit;
	overflow: hidden;
}

/*
|--------------------------------------
| Navbar Responsive
|--------------------------------------
*/

@media screen and (max-width: 992px) {
	body {
		min-height: 100vh;
		justify-content: center;
	}
	body h1 {
		font-size: 1rem;
	}
	body > section > h2 {
		font-size: 0.85rem;
	}
	body > section span {
		font-size: 0.75rem;
	}

	/* Hamburger Menu Icon */
	body > .hamburger__menu__container {
		cursor: pointer;
		position: fixed;
		top: 5%;
		right: 5%;
		width: 30px;
		height: 20px;
	}

	body.dark > .hamburger__menu__container > .hamburger__menu__icon {
		background: var(--dark__text__color);
	}
	body > .hamburger__menu__container > .hamburger__menu__icon {
		width: 30px;
		height: 4px;
		background: var(--text__color);
	}

	body.dark > .hamburger__menu__container > .hamburger__menu__icon::before,
	body.dark > .hamburger__menu__container > .hamburger__menu__icon::after {
		background: var(--dark__text__color);
	}
	body > .hamburger__menu__container > .hamburger__menu__icon::before,
	body > .hamburger__menu__container > .hamburger__menu__icon::after {
		content: '';
		position: absolute;
		width: 30px;
		height: 4px;
		background: var(--text__color);
	}

	.hamburger__menu__icon::before {
		margin-top: 9px;
	}

	.hamburger__menu__icon::after {
		margin-top: 18px;
	}

	/* Responsive Menu */
	body > nav,
	body.dark > nav {
		position: absolute;
		width: 100%;
		height: 30px;
		max-height: none;
		border-radius: 0;
		background: var(--text__color);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		right: -200vw;
		z-index: 2;
	}

	body > nav > .menu__ul,
	body.dark > nav > .menu__ul {
		list-style: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: var(--text__color);
		border-radius: 0;
		width: inherit;
	}

	body > nav > .menu__ul > .menu__li:nth-child(-n + 4),
	body.dark > nav > .menu__ul > .menu__li:nth-child(-n + 4) {
		margin: 50px 0;
		border: none;
		background-color: transparent;
		box-shadow: none;
		border-radius: 2rem;
	}

	body > nav > .menu__ul > .menu__li > .li__content,
	body.dark > nav > .menu__ul > .menu__li > .li__content {
		background-color: transparent;
	}

	body > nav > .menu__ul > .menu__li > .li__content > .li__link,
	body.dark > nav > .menu__ul > .menu__li > .li__content > .li__link {
		color: var(--bg__color);
		background-color: transparent;
		font-size: 2em;
		text-decoration: none;
		font-weight: 500;
		position: relative;
		opacity: 0;
		pointer-events: none;
	}

	body > nav ul li a:after {
		content: '';
		width: 100%;
		position: absolute;
		height: 3px;
		border-radius: 5px;
		background: #fff;
		bottom: -10px;
		left: 0;
		transform-origin: left;
		transition: transform 0.5s ease;
		transform: scaleX(0);
	}

	body > nav ul li a:hover:after {
		transform: scaleX(1);
	}

	body > nav .close {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 6%;
		right: 5%;
		cursor: pointer;
		opacity: 0;
		pointer-events: none;
	}

	body > nav h2 {
		position: absolute;
		top: 5%;
		left: 5%;
		opacity: 0;
		pointer-events: none;
		color: #fff;
		font-size: 2em;
	}

	body > nav .close div::before,
	body > nav .close div::after {
		content: '';
		position: absolute;
		width: 30px;
		height: 4px;
		background: #fff;
		transition: background 0.5s ease;
	}
	body > nav .close div::before {
		transform: rotate(-45deg);
	}

	body > nav .close div::after {
		transform: rotate(45deg);
	}

	body > nav .close:hover div::before,
	body > nav .close:hover div::after {
		background: rgb(209, 3, 3);
	}
}

/*
|--------------------------------------
| Section 1
|--------------------------------------
*/

@keyframes fadingOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadingIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*
|--------------------------------------
| Section 1
|--------------------------------------
*/
section {
	margin-top: 3.5rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

section > .empty__space {
	height: 50vh;
}
