@import '~/assets/styles/abstracts/mixins.scss';
@import '~/assets/styles/abstracts/variables.scss';
@import '~/assets/styles/base/base.scss';
@import '~/assets/styles/base/fonts.scss';

@import '~/templates/components/header/header.scss';
@import '~/templates/components/footer/footer.scss';

@import '~/templates/pages/home/home.scss';
@import '~/templates/pages/projects/projects.scss';
@import '~/templates/pages/about/about.scss';
@import '~/templates/pages/contact/contact.scss';

body {
	background-color: $bg__color;
	color: $text__color;
}
body.dark {
	background-color: $dark__bg__color;
	color: $dark__text__color;
}
