body {
	section {
		margin-top: 3.5rem;
		min-height: calc(100dvh - 190px);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		animation: fadingIn 1s ease;

		&#about-me {
			height: calc(100dvh - 190px);
			margin: 0 2rem;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			position: relative;
			margin-top: -3rem;

			.top__container,
			.bottom__container {
				display: flex;
				flex-direction: row;
				width: 100%;

				h2 {
					color: var(--text__color);
					text-shadow: -6px -6px 10px rgba(255, 255, 255, 1), 4px 4px 15px rgba(0, 0, 0, 0.15);
					word-wrap: break-word;
					padding: 0.5rem 1rem;
					border-radius: 1rem;
					box-shadow: var(--box-shadows-light-inset);
					background-color: var(--bg__color__dark);
				}
			}

			a {
				text-decoration: none;
				margin: 0 45%;
				position: absolute;
				bottom: 0;

				&:active~.next__section__arrow::before,
				&:active~.next__section__arrow::after {
					background-color: greenyellow;
				}
			}

			.middle__container {
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: space-between;

				#glitching-img-container {
					.imgWrap {
						img {
							animation: none;

							&.green,
							&.blue,
							&.red {
								filter: none;
								transform: translate(-50%, -50%);
							}
						}
					}
				}

				.welcome {
					opacity: 0;
					width: 40%;
					margin-top: -6rem;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
					animation: fadeInImg 1s ease-in-out 4s forwards;

					.welcome__img {
						width: 5rem;
						box-shadow: var(--box-shadows-light-outset);
						padding: 1rem;
						border-radius: 1rem;

						img {
							width: 3rem;
							height: 3rem;
						}
					}

					.message__container {
						width: 100%;
						display: flex;
						flex-direction: column;
						margin-top: 2rem;
						height: auto;
						box-shadow: var(--box-shadows-light-inset);
						padding: 1rem;
						border-radius: 1rem;

						.message {
							text-align: justify;
						}

						.links__container {
							margin: 1rem 0;
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: space-around;

							a {
								position: inherit;
								margin: 0;
								display: flex;
								flex-direction: column;
								align-items: center;
								text-decoration: none;
								color: var(--text__color);
								box-shadow: var(--box-shadows-light-outset);
								width: 6rem;
								padding: 1rem;
								border-radius: 1rem;
								background-color: var(--bg__color);

								&:hover {
									cursor: pointer;
									filter: brightness(1.03);
								}

								&.vue {
									cursor: not-allowed;
								}

								img {
									width: 3rem;
									height: 3rem;
									box-shadow: none;
								}

							}
						}

					}
				}
			}

			.bottom__container {
				height: 100%;
				width: 100%;
				align-items: flex-end;
				justify-content: flex-end;

				h4 {
					text-align: right;
				}
			}

			.next__section__arrow {
				margin: auto;
				width: 120px;
				height: 50px;
				border-radius: 2rem 2rem 2rem 2rem;
				background: var(--bg__color__dark);
				/* transition: all 0.25s ease; */
				transition: all 250ms ease-in-out;
				box-shadow: var(--box-shadows-light-outset);
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				position: relative;

				&:hover {
					filter: brightness(1.03);
				}

				&:hover::before,
				&:hover::after {
					animation: jumpUpAndBackHome 0.75s ease infinite;
				}

				&:active {
					box-shadow: var(--box-shadows-light-inset);
				}

				&::before,
				&::after {
					z-index: 10;
					content: '';
					width: 21px;
					height: 4px;
					border-radius: 50% 0;
					background-color: var(--navigate-to-top-button-border);
					transform: rotate(45deg);
					position: absolute;
					top: 25px;
				}

				&::before {
					left: 43px;
				}

				&::after {
					right: 43px;
					transform: rotate(-45deg);
				}
			}
		}

		&#me-in-few-words {
			position: relative;
			margin: 0 2rem;
			padding-bottom: 5rem;
			padding: 0;
			justify-content: space-evenly;

			h4 {
				color: var(--text__color);
				box-shadow: var(--box-shadows-light-outset);
				padding: 0.5rem 1rem;
				border-radius: 1rem;
			}

			a {
				text-decoration: none;
				margin: 0 45%;
				position: absolute;
				bottom: 0;

				&:active~.next__section__arrow::before,
				&:active~.next__section__arrow::after {
					background-color: greenyellow;
				}

				&.next__link {
					bottom: -30px;
				}
			}

			.middle__container {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				width: 100%;

				.left__side {
					width: 49%;

					.top__part,
					.bottom__part {
						display: flex;
						flex-direction: column;
						align-items: center;
						margin: 0 auto;
						box-shadow: var(--box-shadows-light-inset);
						border-radius: 1rem;
						padding: 1rem;
						background-color: var(--bg__color__dark);

						.about__me__logo {
							height: 4rem;
							width: 4rem;
						}
					}

					.top__part {

						.TypeWriter .line__1,
						.TypeWriter .line__2,
						.TypeWriter .line__3 {
							color: var(--text__color);
						}
					}
				}

				.right__side {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-start;
					width: 49%;
					height: 100%;
					box-shadow: var(--box-shadows-light-inset);
					padding: 1rem;
					border-radius: 1rem;

					img {
						width: 3.5rem;
						height: 3.5rem;
						margin-bottom: 1rem;
					}

					div {
						width: 100%;
					}
				}
			}

			.next__section__arrow {
				margin: auto;
				width: 120px;
				height: 50px;
				border-radius: 2rem 2rem 2rem 2rem;
				background: var(--bg__color__dark);
				/* transition: all 0.25s ease; */
				transition: all 250ms ease-in-out;
				box-shadow: var(--box-shadows-light-outset);
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				position: relative;

				&:hover {
					filter: brightness(1.03);
				}

				&:hover::before,
				&:hover::after {
					animation: jumpUpAndBackHome 0.75s ease infinite;
				}

				&:active {
					box-shadow: var(--box-shadows-light-inset);
				}

				&::before,
				&::after {
					z-index: 10;
					content: '';
					width: 21px;
					height: 4px;
					border-radius: 50% 0;
					background-color: var(--navigate-to-top-button-border);
					transform: rotate(45deg);
					position: absolute;
					top: 25px;
				}

				&::before {
					left: 43px;
				}

				&::after {
					right: 43px;
					transform: rotate(-45deg);
				}
			}


		}

		&#coming-soon {
			min-height: 110vh;

			h4 {
				color: var(--text__color);
			}

			h5 {
				color: var(--text__color);
			}

			p {
				margin-top: 2rem;
				word-spacing: 4px;
				color: var(--text__color);
				text-align: center;
				width: 75%;
			}

			.empty__space {
				height: 50vh;
				margin-top: 5rem;
			}
		}

		&#my-stack {
			height: auto;
			padding: 0 0 8rem 0;

			h4 {
				color: var(--text__color);
				box-shadow: var(--box-shadows-light-outset);
				padding: 0.5rem 1rem;
				border-radius: 1rem;
			}

			h6 {
				color: var(--text__color);
				box-shadow: var(--box-shadows-light-outset);
				padding: 0.5rem 1rem;
				border-radius: 1rem;
				margin-top: 5rem;
			}

			.stack__container {
				margin-top: 2rem;
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: space-around;
				flex-wrap: wrap;

				.stack__card {
					opacity: 0;
					width: 30%;
					height: 20rem;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-around;
					gap: 1rem;
					background-color: var(--bg__color__dark);
					border-radius: 1rem;
					box-shadow: var(--box-shadows-light-inset);
					transition: all 250ms ease-in-out;

					&:hover {
						filter: brightness(1.03);
					}

					h5 {
						color: var(--text__color);
						box-shadow: var(--box-shadows-light-outset);
						padding: 0.5rem 1rem;
						margin: 2rem;
						border-radius: 1rem;
					}

					ul {
						margin: 1rem;
						padding: 0;
						list-style: none;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-around;
						flex-wrap: wrap;

						li {
							margin: 0.5rem;
							padding: 0.5rem;
							border-radius: 0.5rem;
							background-color: var(--bg__color);
							color: var(--text__color);
						}
					}
				}
			}
		}
	}
}

body.dark {
	section {
		&#about-me {

			.top__container,
			.bottom__container {
				h2 {
					color: var(--dark__text__color);
					text-shadow: -6px -6px 10px rgba(255, 255, 255, 0.1), 4px 4px 15px rgba(0, 0, 0, 1);
					box-shadow: var(--box-shadows-dark-inset);
					background-color: var(--dark__bg__color);
					position: relative;
				}
			}

			.middle__container {
				.welcome {
					.welcome__img {
						box-shadow: var(--box-shadows-dark-outset);

						img {
							filter: invert(1);
						}
					}

					.message__container {
						box-shadow: var(--box-shadows-dark-inset);

						.links__container {
							a {
								color: var(--dark__text__color);
								box-shadow: var(--box-shadows-dark-outset);
								background-color: var(--dark__bg__color);

								img {
									filter: invert(1);
								}
							}
						}
					}
				}
			}

			.next__section__arrow {
				background: var(--dark__bg__color);
				transition: all 250ms ease-in-out;
				box-shadow: var(--box-shadows-dark-outset);

				&:hover {
					filter: brightness(1.5);
				}

				&:active {
					box-shadow: var(--box-shadows-dark-inset);
				}

				&::before,
				&::after {
					background-color: var(--dark__navigate-to-top-button-border);
				}
			}
		}

		&#me-in-few-words {
			h4 {
				color: var(--dark__text__color);
				box-shadow: var(--box-shadows-dark-outset);
			}

			.middle__container {
				.left__side {

					.top__part,
					.bottom__part {
						box-shadow: var(--box-shadows-dark-inset);
						background-color: var(--dark__bg__color);

						.about__me__logo {
							filter: invert(1);
						}
					}

					.top__part {

						.TypeWriter .line__1,
						.TypeWriter .line__2,
						.TypeWriter .line__3 {
							color: var(--dark__text__color);
							border-right: 1px solid var(--dark__bg__color);
						}
					}


				}

				.right__side {
					box-shadow: var(--box-shadows-dark-inset);

					img {
						filter: invert(1);
					}
				}
			}

			.next__section__arrow {
				background: var(--dark__bg__color);
				transition: all 250ms ease-in-out;
				box-shadow: var(--box-shadows-dark-outset);

				&:hover {
					filter: brightness(1.5);
				}

				&:active {
					box-shadow: var(--box-shadows-dark-inset);
				}

				&::before,
				&::after {
					background-color: var(--dark__navigate-to-top-button-border);
				}
			}
		}

		&#coming-soon {
			h4 {
				color: var(--dark__text__color);
			}

			h5 {
				color: var(--dark__text__color);
			}

			p {
				color: var(--dark__text__color);
			}
		}

		&#my-stack {
			h4 {
				color: var(--dark__text__color);
				box-shadow: var(--box-shadows-dark-outset);
			}

			h6 {
				color: var(--dark__text__color);
				box-shadow: var(--box-shadows-dark-outset);
			}

			.stack__container {
				.stack__card {
					background-color: var(--dark__bg__color);
					box-shadow: var(--box-shadows-dark-inset);

					&:hover {
						filter: brightness(1.5);
					}

					h5 {
						color: var(--dark__text__color);
						box-shadow: var(--box-shadows-dark-outset);
					}

					ul {
						li {
							background-color: var(--dark__bg__color);
							color: var(--dark__text__color);
						}
					}
				}
			}
		}
	}
}

/* #region Animations  */
@keyframes jumpUpAndBackHome {
	0% {
		top: 22.5px;
	}

	50% {
		top: 27.5px;
	}

	100% {
		top: 22.5px;
	}
}

/* #region Typing animation */
@keyframes animated-cursor__1 {
	from {
		border-right-color: var(--bg__color);
	}

	to {
		border-right-color: var(--text__color);
	}
}

@keyframes animated-cursor__2 {
	from {
		border-right-color: var(--bg__color);
	}

	to {
		border-right-color: var(--text__color);
	}
}

@keyframes animated-cursor__3 {
	from {
		border-right-color: var(--bg__color);
	}

	to {
		border-right-color: var(--text__color);
	}
}

@keyframes animated-cursor__4 {
	from {
		border-right-color: var(--bg__color);
	}

	to {
		border-right-color: var(--text__color);
	}
}

@keyframes animated-text__1 {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes animated-text__2 {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes animated-text__3 {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes animated-text__4 {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

/* #endregion */

/* #Region Card1 slideIn from the left */
@keyframes card1 {
	0% {
		opacity: 0;
		transform: translate(-200%, -200%);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes card2 {
	0% {
		opacity: 0;
		transform: translateY(200%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes card3 {
	0% {
		opacity: 0;
		transform: translate(200%, -200%);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes card4 {
	0% {
		opacity: 0;
		transform: translateX(-200%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes card5 {
	0% {
		opacity: 0;
		transform: translateX(200%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* #endregion */

@keyframes fadeInImg {
	0% {
		opacity: 0;
	}

	1% {
		opacity: 1;
	}

	2% {
		opacity: 0;
	}

	3% {
		opacity: 1;
	}

	4% {
		opacity: 0;
	}

	5% {
		opacity: 1;
	}

	6% {
		opacity: 0;
	}

	7% {
		opacity: 1;
	}

	8% {
		opacity: 0;
	}

	9% {
		opacity: 1;
	}

	10% {
		opacity: 0;
	}

	11% {
		opacity: 1;
	}

	19% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	21% {
		opacity: 0;
	}

	22% {
		opacity: 1;
	}

	23% {
		opacity: 0;
	}

	24% {
		opacity: 1;
	}

	31% {
		opacity: 0;
	}

	32% {
		opacity: 1;
	}

	33% {
		opacity: 0;
	}

	34% {
		opacity: 1;
	}

	35% {
		opacity: 0;
	}

	36% {
		opacity: 1;
	}

	37% {
		opacity: 0;
	}

	38% {
		opacity: 1;
	}

	39% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	51% {
		opacity: 1;
	}

	52% {
		opacity: 0;
	}

	53% {
		opacity: 1;
	}

	54% {
		opacity: 0;
	}

	55% {
		opacity: 1;
	}

	65% {
		opacity: 0;
	}

	66% {
		opacity: 1;
	}

	67% {
		opacity: 0;
	}

	68% {
		opacity: 1;
	}

	69% {
		opacity: 0;
	}

	80% {
		opacity: 1;
	}

	81% {
		opacity: 0;
	}

	82% {
		opacity: 1;
	}

	83% {
		opacity: 0;
	}

	84% {
		opacity: 1;
	}

	85% {
		opacity: 0;
	}

	86% {
		opacity: 1;
	}

	87% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* #endregion */

@media screen and (orientation: portrait) and (max-width: 600px) {
	body {
		section {
			&#about-me {
				margin-top: 0rem;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;

				div {

					&.top__container,
					&.bottom__container {
						width: 100%;

						h2 {
							.glitching-text {
								animation: none;

								&::before,
								&::after {
									animation: none;
								}
							}
						}
					}

					&.top__container {
						h2 {
							max-width: 90%;
							margin: auto;
							animation: none;
						}

						#glitching-img-container {
							max-width: 100%;
							margin-top: 2rem;

							.imgWrap {
								img {
									width: 100%;
									animation: none;

									.red,
									.green,
									.blue {
										width: 100%;
										animation: none;
										filter: none;
										transform: translate(-50%, -50%);
									}
								}
							}
						}
					}

					&.bottom__container {
						h2 {
							max-width: 100%;
							margin: auto;
						}
					}
				}

				a {
					height: 40px;
					width: 40px;
					border-radius: 30%;

					&.next_link {
						bottom: 0;
					}
				}

				.next__section__arrow {
					height: 40px;
					width: 40px;
					border-radius: 30%;

					&::before {
						left: 3px;
					}

					&::after {
						right: 3px;
					}

					&::before,
					&::after {
						top: 20px;
					}

					&:hover::before,
					&hover::after {
						animation: jumpUpAndBackHomeMobile 0.75s ease infinite;
					}
				}
			}

			&#me-in-few-words {
				margin: 0 1rem;
				height: auto;
				width: auto;

				a {
					height: 40px;
					width: 40px;
					border-radius: 30%;

					&.next__link {
						bottom: 0;
					}
				}

				.next__section__arrow {
					height: 40px;
					width: 40px;
					border-radius: 30%;

					&::before {
						left: 3px;
					}

					&::after {
						right: 3px;
					}

					&::before,
					&::after {
						top: 20px;
					}

					&:hover::before,
					&hover::after {
						animation: jumpUpAndBackHomeMobile 0.75s ease infinite;
					}
				}

				div {

					&.top__part,
					&.bottom__part {
						width: calc(100% - 2rem);
						margin: 0;

						.about__me__logo {
							height: 2.5rem;
							width: 2.5rem;
						}
					}

					&.top__part {

						.line__1,
						.line__2,
						.line__3 {
							text-align: justify;
							white-space: normal;
							overflow: visible;
							animation: none;
							border-right: none;
							width: 100%;
						}
					}

					&.bottom__part {
						.line__4 {
							text-align: justify;
							white-space: normal;
							overflow: visible;
							animation: none;
							border-right: none;
							width: 100%;
						}
					}
				}
			}

			&#my-stack {
				padding: 6rem 0 6rem 0;
				height: auto;

				.stack__container {
					flex-direction: column;
					align-items: center;
					justify-content: space-around;

					.stack__card {
						width: 80%;
						height: 15rem;
						margin: 1rem 0;
					}
				}

				h5 {
					margin-top: 2rem;
					width: 80%;
					padding: 1rem 1.5rem;
				}
			}
		}
	}

	/* #region Animations */
	@keyframes jumpUpAndBackHomeMobile {
		0% {
			top: 22.5px;
		}

		50% {
			top: 17.5px;
		}

		100% {
			top: 22.5px;
		}
	}
}

@media screen and (orientation: landscape) and (max-width: 812px) {
	body {
		section {
			height: auto;
			margin: 2rem;

			&#about-me {
				flex-direction: column;
				align-items: center;
				justify-content: space-around;

				.top__container,
				.bottom__container {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;

					h2 {
						margin: 2rem auto;
						animation: none;

						&.glitching-text {
							animation: none;

							&::before,
							&::after {
								animation: none;
							}
						}
					}
				}

				.top__container {
					h2 {
						max-width: 90%;
					}
				}

				#glitching-img-container {
					max-width: 100%;
					margin-top: 2rem;

					.imgWrap {
						img {
							width: 100%;
							animation: none;

							.red,
							.green,
							.blue {
								width: 100%;
								animation: none;
							}
						}
					}
				}

				.bottom__container {
					h2 {
						max-width: 100%;
					}
				}

				a {
					&.next__link {
						display: none;
					}
				}
			}

			&#me-in-few-words {
				width: auto;
				gap: 2rem;

				a {
					&.next__link {
						display: none;
					}
				}

				div {

					&.top__part,
					&.bottom__part {
						width: calc(100% - 2rem);
						margin: 0;

						.about__me__logo {
							height: 3rem;
							width: 3rem;
						}
					}

					&.top__part {

						.line__1,
						.line__2,
						.line__3 {
							text-align: center;
							white-space: normal;
							overflow: visible;
							animation: none;
							border-right: none;
							width: 100%;
						}
					}

					&.bottom__part {
						.line__4 {
							text-align: center;
							white-space: normal;
							overflow: visible;
							animation: none;
							border-right: none;
							width: 100%;
						}
					}
				}
			}

			&#my-stack {
				padding: 0;

				h5 {
					margin-top: 2rem;
					width: 80%;
					padding: 1rem 1.5rem;
				}

				#stack__container__2 {
					&.stack__container {
						.stack__card {
							width: 45%;
							/* height: 15rem; */
							margin: 1rem 0;
						}
					}
				}
			}
		}
	}
}

@media screen and (orientation: portrait) and (min-width: 600px) and (max-width: 992px) {
	body {
		section {
			height: auto;
			margin: 0 2rem;

			&#about-me {
				flex-direction: column;
				align-items: center;
				justify-content: none;
				min-height: 80vh;
				margin-bottom: 2rem;

				div {

					&.top__container,
					&.bottom__container {
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;

						h2 {
							font-size: 2rem;
						}
					}

					&.top__container {
						#glitching-img-container {
							max-width: 100%;
							height: 20rem;
							margin-top: 2rem;

							.imgWrap {
								img {

									.red,
									.green,
									.blue {
										width: 100%;
									}
								}
							}
						}
					}
				}

				a {
					&.next__link {
						display: none;
					}
				}
			}

			&#me-in-few-words {
				width: auto;
				gap: 0rem;
				min-height: 40vh;

				a {
					&.next__link {
						display: none;
					}
				}

				div {

					&.top__part,
					&.bottom__part {
						width: 100%;
						margin: 0;
					}
				}
			}
		}
	}
}

@media screen and (orientation: landscape) and (min-width: 812px) and (max-width: 1080px) {
	body {
		section {
			&#about-me {
				div {

					&.top__container,
					&.bottom__container {
						h2 {
							font-size: 2rem;
						}
					}

					&.top__container {
						#glitching-img-container {
							max-width: 100%;
							height: 20rem;
							margin-top: 2rem;

							.imgWrap {
								img {

									.red,
									.green,
									.blue {
										width: 100%;
									}
								}
							}
						}
					}
				}

				a {
					bottom: 0;
				}
			}

			&#me-in-fex-words {
				width: auto;
				gap: 0rem;
				min-height: 40vh;

				a {
					bottom: 0;
				}

				div {

					&.top__part,
					&.bottom__part {
						width: 100%;
						margin: 0;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1080px) and (max-width: 1250px) {
	body {
		section {
			#about-me {
				div {

					&.top__container,
					&.bottom__container {
						h2 {
							font-size: 2rem;
						}
					}
				}
			}
		}
	}
}