:root {
	--input-text: #fd8331bf;
}

body {
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 2rem auto;
		padding: 2rem;
		max-width: 500px;
		border-radius: 1rem;
		box-shadow: var(--box-shadows-light-inset);
		animation: glitchingInElement 2.5s ease-in-out 1s forwards;

		.input__field {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			width: 100%;
			margin-bottom: 1rem;

			div {
				width: 100%;

				label {
					margin-bottom: 0.5rem;
				}

				input,
				textarea {
					width: 100%;
					padding: 0.5rem;
					border-radius: 0.5rem;
					border: none;
					outline: none;
					background-color: var(--bg__color);
					color: var(--input-text);
					box-shadow: var(--box-shadows-light-outset);

					&:focus {
						box-shadow: var(--box-shadows-light-inset);
					}
				}

				textarea {
					max-width: 100%;
				}
			}

			button {
				width: 50%;
				margin: 3rem auto 0 auto;
				padding: 1rem;
				border-radius: 0.5rem;
				border: none;
				outline: none;
				background-color: var(--bg__color);
				color: var(--text__color);
				box-shadow: var(--box-shadows-light-outset);

				&:hover {
					background-color: var(--bg__color__dark);
					color: var(--input-text);
					box-shadow: var(--box-shadows-light-outset);
					cursor: pointer;
				}

				&:active {
					background-color: var(--bg__color__dark);
					color: var(--input-text);
					box-shadow: var(--box-shadows-light-outset);
				}

				&::after {
					content: '';
					display: block;
					opacity: 1;
					background-color: var(--text__color);
					width: 50%;
					height: 1px;
					margin: 0.5rem auto 0 auto;
					transition: all 0.75s ease-in-out;
				}

				&:hover::after {
					opacity: 1;
					background-color: var(--dark-main-orange-color);
					animation: bounce 0.75s ease-in-out infinite;
				}
			}
		}
	}
}

body.dark {
	form {
		box-shadow: var(--box-shadows-dark-inset);

		.input__field {

			input,
			textarea {
				background-color: var(--dark__bg__color);
				color: var(--dark-main-orange-color);
				box-shadow: var(--box-shadows-dark-outset);

				&:focus {
					box-shadow: var(--box-shadows-dark-inset);
				}
			}

			button {
				background-color: var(--dark__bg__color);
				color: var(--dark__text__color);
				box-shadow: var(--box-shadows-dark-outset);
				transition: all 0.75s ease-in-out;

				&:hover {
					background-color: var(--dark__bg__color__2);
					color: var(--dark-main-orange-color);
					box-shadow: var(--box-shadows-dark-outset);
				}

				&:active {
					background-color: var(--dark__bg__color__2);
					color: var(--dark-main-orange-color);
					box-shadow: var(--box-shadows-dark-outset);
				}

				&::after {
					background-color: var(--dark__text__color);
				}

				&:hover::after {
					opacity: 1;
					background-color: var(--dark-main-orange-color);
					animation: bounce 0.75s ease-in-out infinite;
				}
			}
		}
	}
}



/*
|------------------------------------------
| Animations
|------------------------------------------
*/

@keyframes input__field__error {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(0.5rem);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(0.5rem);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes glitchingInElement {
	0% {
		opacity: 0;
	}

	1% {
		opacity: 1;
	}

	2% {
		opacity: 0;
	}

	3% {
		opacity: 1;
	}

	4% {
		opacity: 0;
	}

	5% {
		opacity: 1;
	}

	6% {
		opacity: 0;
	}

	7% {
		opacity: 1;
	}

	8% {
		opacity: 0;
	}

	9% {
		opacity: 1;
	}

	10% {
		opacity: 0;
	}

	11% {
		opacity: 1;
	}

	19% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	21% {
		opacity: 0;
	}

	22% {
		opacity: 1;
	}

	23% {
		opacity: 0;
	}

	24% {
		opacity: 1;
	}

	31% {
		opacity: 0;
	}

	32% {
		opacity: 1;
	}

	33% {
		opacity: 0;
	}

	34% {
		opacity: 1;
	}

	35% {
		opacity: 0;
	}

	36% {
		opacity: 1;
	}

	37% {
		opacity: 0;
	}

	38% {
		opacity: 1;
	}

	39% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	51% {
		opacity: 1;
	}

	52% {
		opacity: 0;
	}

	53% {
		opacity: 1;
	}

	54% {
		opacity: 0;
	}

	55% {
		opacity: 1;
	}

	65% {
		opacity: 0;
	}

	66% {
		opacity: 1;
	}

	67% {
		opacity: 0;
	}

	68% {
		opacity: 1;
	}

	69% {
		opacity: 0;
	}

	80% {
		opacity: 1;
	}

	81% {
		opacity: 0;
	}

	82% {
		opacity: 1;
	}

	83% {
		opacity: 0;
	}

	84% {
		opacity: 1;
	}

	85% {
		opacity: 0;
	}

	86% {
		opacity: 1;
	}

	87% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/*
	========================
		Responsive
	========================
*/

@media screen and (max-width: 600px) {
	form {
		width: auto;
	}
}