body {
	section {
		&#projects {
			box-sizing: unset;
			min-height: 100vh;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			margin: 0 2rem;
			border-radius: 1rem;
			padding: 2rem;
			background-color: $bg__color;
			box-shadow: $box-shadows-light-inset;
			margin-bottom: 8rem;

			h2 {
				color: $text__color;
				box-shadow: $box-shadows-light-thin;
				border-radius: 1rem;
				padding: 0.5rem 1rem;
				margin-bottom: 2rem;
			}

			.shortcut__buttons {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				margin-bottom: 2rem;
				width: 75%;
				padding: 2rem;
				border-radius: 1rem;
				box-shadow: $box-shadows-light-thin;

				.shortcut__button {
					position: relative;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-around;
					width: 20%;
					padding: 1rem;
					border-radius: 1rem;
					box-shadow: $box-shadows-light-thin;
					text-decoration: none;
					color: $text__color;
					transition: all 0.2s ease-in-out;

					&::after {
						content: '';
						position: absolute;
						bottom: 0.75rem;
						right: 1.75rem;
						display: block;
						opacity: 1;
						width: 40%;
						height: 1px;
						background-color: $text__color;
						margin: 0.5rem auto 0 auto;
					}

					&:hover::after {
						opacity: 1;
						background-color: $main-orange-color;
						animation: bounce 0.75s ease-in-out infinite;
					}

					.shortcut__button__icon {
						width: 2rem;
						height: 2rem;
					}

					&:hover {
						filter: brightness(1.1);
						box-shadow: $box-shadows-light-thin;
						color: $main-orange-color;
					}

					&:active {
						box-shadow: $box-shadows-light-inset;
						color: $main-orange-color;
					}
				}
			}

			.projects__container {
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: space-around;
				flex-wrap: wrap;
				width: 100%;
				padding: 2rem 1rem;
				border-radius: 1rem;
				box-shadow: $box-shadows-light-thin;

				.projects__category {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-start;
					width: 100%;
					padding: 2rem;
					border-radius: 1rem;
					box-shadow: $box-shadows-light-inset;
					margin-bottom: 2rem;

					h3 {
						display: flex;
						flex-direction: column;
						align-items: center;
						color: $text__color;
						box-shadow: $box-shadows-light-thin;
						border-radius: 1rem;
						padding: 1rem 4rem;
						margin-bottom: 2rem;

						.submenu__title__icon {
							width: 2rem;
							height: 2rem;
						}
					}

					.projects__category__list {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: space-around;
						flex-wrap: wrap;

						.projects__category__list__item {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							justify-content: space-around;
							width: 95%;
							padding: 1rem;
							margin-bottom: 2rem;
							border-radius: 1rem;
							box-shadow: $box-shadows-light-thin;
							text-decoration: none;
							color: $text__color;
							transition: all 0.2s ease-in-out;

							h4 {
								color: $text__color;
								box-shadow: $box-shadows-light-thin;
								border-radius: 1rem;
								padding: 1rem 2rem;
								margin-bottom: 1rem;
							}

							h5 {
								color: $main-orange-color;
								box-shadow: $box-shadows-light-inset;
								border-radius: 1rem;
								padding: 1rem 2rem;
								margin-bottom: 2rem;
							}

							.projects__category__list__item__container {
								display: flex;
								flex-direction: row;
								align-items: flex-start;
								justify-content: space-around;
								width: 100%;

								.left__container,
								.right__container {
									display: flex;
									flex-direction: column;
									align-items: flex-start;
									justify-content: space-evenly;
									max-width: 45%;
									height: 80%;
								}

								.left__container {
									.bottom {
										display: flex;
										flex-direction: row;
										align-items: flex-start;
										justify-content: space-around;
										gap: 2rem;
										width: 100%;
										margin-top: 2rem;

										.technologies {
											display: flex;
											flex-direction: column;
											align-items: flex-start;
											justify-content: space-between;

											ul {
												list-style-type: none;

												li {
													margin-left: -2rem;

													&::before {
														content: '🧑🏼‍💻 ';
													}
												}
											}
										}

										.links {
											margin: 0;
										}

										.technologies,
										.links {
											h5 {
												color: $text__color;
												box-shadow: $box-shadows-light-outset;
												border-radius: 1rem;
												padding: 0.5rem 1rem;
												margin-bottom: 2rem;
											}
										}
									}
								}

								.right__container {

									.medias {
										box-shadow: $box-shadows-light-inset;
										border-radius: 1rem;
										padding: 1rem;
										max-width: 33rem;
										height: 24rem;
										overflow: hidden;
										overflow-y: scroll;

										.control-dots {
											background: rgba(0, 0, 0, 0.5);
											width: 75%;
											left: 12.5%;
											border-radius: 1rem;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&.dark {
		section {
			&#projects {
				background-color: $dark__bg__color;
				box-shadow: $box-shadows-dark-inset;

				h2 {
					color: $dark__text__color;
					box-shadow: $box-shadows-dark-thin;
				}

				.shortcut__buttons {
					box-shadow: $box-shadows-dark-thin;

					.shortcut__button {
						box-shadow: $box-shadows-dark-thin;
						color: $dark__text__color;

						&::after {
							background-color: $dark-main-orange-color;
						}

						.shortcut__button__icon {
							filter: invert(1);
						}

						&:hover {
							filter: brightness(1.1);
							box-shadow: $box-shadows-dark-thin;
							color: $dark-main-orange-color;
						}

						&:active {
							box-shadow: $box-shadows-dark-inset;
							color: $dark-main-orange-color;
						}
					}
				}

				.projects__container {
					box-shadow: $box-shadows-dark-thin;

					.projects__category {
						box-shadow: $box-shadows-dark-inset;

						h3 {
							color: $dark__text__color;
							box-shadow: $box-shadows-dark-thin;

							.submenu__title__icon {
								filter: invert(1);
							}
						}

						.projects__category__list {
							.projects__category__list__item {
								box-shadow: $box-shadows-dark-thin;
								color: $dark__text__color;

								h4 {
									color: $dark__text__color;
									box-shadow: $box-shadows-dark-thin;
								}

								h5 {
									color: $dark-main-orange-color;
									box-shadow: $box-shadows-dark-inset;
								}

								.projects__category__list__item__container {
									.left__container {
										.bottom {

											.technologies,
											.links {
												h5 {
													color: $dark__text__color;
													box-shadow: $box-shadows-dark-outset;
												}
											}
										}
									}

									.right__container {
										.medias {
											box-shadow: $box-shadows-dark-inset;
											border-radius: 1rem;
											padding: 1rem;
											max-width: 33rem;
											height: 24rem;
											overflow: hidden;
											overflow-y: scroll;
										}
									}
								}

							}
						}
					}
				}
			}
		}
	}
}


/* 
|------------------------------------------
| Animations
|------------------------------------------
 */
@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(0.5rem);
	}

	100% {
		transform: translateY(0);
	}
}

@include responsive(mobile-portrait) {
	body {
		section {
			&#projects {
				margin-bottom: 4rem;

				.shortcut__buttons {
					width: 80%;
					gap: 2rem;
					padding: 1rem;

					.shortcut__button {
						width: 25%;
						flex-direction: column;

						&::after {
							width: 45%;
						}

						.shortcut__button__icon {
							width: 1.5rem;
							height: 1.5rem;
						}
					}
				}

				.projects__container {
					padding: 0.5rem;
					width: 105%;

					.projects__category {
						padding: 0;
						width: 100%;

						h3 {
							padding: 1rem 2rem;
						}

						.projects__category__list {
							width: 80%;
							flex-wrap: nowrap;

							.projects__category__list__item {
								width: 95%;

								h4 {
									padding: 1rem 1rem;
								}

								h5 {
									padding: 1rem 1rem;
								}

								.projects__category__list__item__container {
									flex-direction: column;

									.left__container,
									.right__container {
										width: 100%;
										max-width: 100%;
										height: 100%;
									}

									.left__container {
										.bottom {
											flex-direction: column;
											align-items: center;
											justify-content: space-around;
											width: 100%;
											margin-top: 2rem;

											.technologies,
											.links {
												width: 100%;
												margin-bottom: 2rem;

												h5 {
													padding: 0.5rem 1rem;
													margin-bottom: 2rem;
												}

												a {
													img {
														width: 100%;
													}
												}
											}
										}
									}

									.right__container {
										.medias {
											width: calc(100% - 1rem);
											height: 100%;
											max-width: 100%;
											max-height: 100%;
											padding: 0.5rem;
											border-radius: 0;

											.control-dots {
												display: none;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@include responsive(mobile-landscape) {
	body {
		section {
			&#projects {
				margin-bottom: 4rem;

				.shortcut__buttons {
					width: 80%;
					gap: 2rem;
					padding: 1rem;

					.shortcut__button {
						width: 25%;
						flex-direction: column;

						&::after {
							width: 65%;
						}

						.shortcut__button__icon {
							width: 1.5rem;
							height: 1.5rem;
						}
					}
				}

				.projects__container {
					padding: 0.5rem;
					width: 105%;

					.projects__category {
						padding: 0;
						width: 100%;

						h3 {
							padding: 1rem 2rem;
						}

						.projects__category__list {
							width: 90%;
							flex-wrap: nowrap;

							.projects__category__list__item {
								width: 95%;

								h4 {
									padding: 1rem 1rem;
								}

								h5 {
									padding: 1rem 1rem;
								}

								.projects__category__list__item__container {
									flex-direction: column;

									.left__container,
									.right__container {
										width: 100%;
										max-width: 100%;
										height: auto;
									}

									.right__container {
										.medias {
											width: calc(100% - 1rem);
											height: auto;
											max-width: 100%;
											max-height: 100%;
											padding: 0.5rem;
											border-radius: 0;
											margin: 1rem auto;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@include responsive(tablet-portrait) {
	body {
		section {
			&#projects {
				margin-bottom: 8rem;

				.shortcut__buttons {
					width: 80%;
					gap: 2rem;
					padding: 1rem;

					.shortcut__button {
						width: 10%;
						flex-direction: column;
					}
				}

				.projects__container {
					padding: 0.5rem;
					width: 100%;

					.projects__category {
						padding: 0;
						width: 100%;

						h3 {
							padding: 1rem 2rem;
						}

						.projects__category__list {
							width: 90%;
							flex-wrap: nowrap;

							.projects__category__list__item {
								width: 95%;

								h4 {
									padding: 1rem 1rem;
								}

								h5 {
									padding: 1rem 1rem;
								}

								.projects__category__list__item__container {
									flex-direction: column;

									.left__container,
									.right__container {
										width: 100%;
										max-width: 100%;
										height: auto;
									}

									.right__container {
										.medias {
											width: auto;
											height: auto;
											max-width: 100%;
											max-height: 100%;
											padding: 0.5rem;
											border-radius: 0;
											margin: 1rem auto;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@include responsive(tablet-landscape) {
	body {
		section {
			&#projects {
				margin-bottom: 8rem;

				.shortcut__buttons {
					width: 80%;
					gap: 2rem;
					padding: 1rem;

					.shortcut__button {
						width: 10%;
						flex-direction: column;
					}
				}

				.projects__container {
					padding: 0.5rem;
					width: 100%;

					.projects__category {
						padding: 0;
						width: 100%;

						h3 {
							padding: 1rem 2rem;
						}

						.projects__category__list {
							width: 90%;
							flex-wrap: nowrap;

							.projects__category__list__item {
								width: 95%;

								h4 {
									padding: 1rem 1rem;
								}

								h5 {
									padding: 1rem 1rem;
								}

								.projects__category__list__item__container {
									flex-direction: column;

									.left__container,
									.right__container {
										width: 100%;
										max-width: 100%;
										height: auto;
									}

									.right__container {
										.medias {
											width: auto;
											height: auto;
											max-width: 100%;
											max-height: 100%;
											padding: 0.5rem;
											border-radius: 0;
											margin: 1rem auto;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}