body > #root > section {
	margin-top: 3.5rem;
	height: calc(100dvh - 160px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	animation: fadingIn 1s ease;
}

/*
|--------------------------------------
| Section About Me
|--------------------------------------
*/

body > #root > section#about-me {
	margin: auto 2rem;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

body > #root > section#about-me > .left__container h2,
body > #root > section#about-me > .right__container h2 {
	font-family: 'Noto Serif JP', serif;
	font-size: 3.5rem;
	color: var(--text__color);
	text-shadow: -6px -6px 10px rgba(255, 255, 255, 1), 4px 4px 15px rgba(0, 0, 0, 0.15);
	word-wrap: break-word;
	max-width: 45rem;
}
body.dark > #root > section#about-me > .left__container h2,
body.dark > #root > section#about-me > .right__container h2 {
	color: var(--dark__text__color);
	text-shadow: -6px -6px 10px rgba(255, 255, 255, 0.1), 4px 4px 15px rgba(0, 0, 0, 1);
}

body > #root > section#about-me > .left__container img {
	height: 18rem;
	width: 100%;
	object-fit: cover;
	object-position: 100% 25%;
}
body.dark > #root > section#about-me > .left__container img {
	filter: grayscale(100%);
}

body > #root > section#about-me > .right__container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

body > #root > section#about-me > .right__container a {
	text-decoration: none;
	margin: auto;
}
body > #root > section#about-me > .right__container a:active ~ .next__section__arrow::before,
body > #root > section#about-me > .right__container a:active ~ .next__section__arrow::after {
	background-color: greenyellow;
}

body > #root > section#about-me > .right__container .next__section__arrow {
	margin: auto;
	transform: translateX(-50%);
	width: 50px;
	height: 125px;
	border-radius: 2rem 2rem 2rem 2rem;
	background: var(--bg__color__dark);
	/* transition: all 0.25s ease; */
	transition: all 250ms ease-in-out;
	box-shadow: var(--box-shadows-light-outset);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
}
body.dark > #root > section#about-me > .right__container .next__section__arrow {
	background: var(--dark__bg__color);
	transition: all 250ms ease-in-out;
	box-shadow: var(--box-shadows-dark-outset);
}

body > #root > section#about-me > .right__container .next__section__arrow:hover {
	filter: brightness(1.03);
}
body.dark > #root > section#about-me > .right__container .next__section__arrow:hover {
	filter: brightness(1.5);
}
body > #root > section#about-me > .right__container .next__section__arrow:active {
	box-shadow: var(--box-shadows-light-inset);
}
body.dark > #root > section#about-me > .right__container .next__section__arrow:active {
	box-shadow: var(--box-shadows-dark-inset);
}

body > #root > section#about-me > .right__container .next__section__arrow::before,
body > #root > section#about-me > .right__container .next__section__arrow::after {
	z-index: 10;
	content: '';
	width: 21px;
	height: 4px;
	border-radius: 50% 0;
	background-color: var(--navigate-to-top-button-border);
	transform: rotate(45deg);
	position: absolute;
	top: 80px;
}

body > #root > section#about-me > .right__container .next__section__arrow::before {
	left: 8px;
}
body.dark > #root > section#about-me > .right__container .next__section__arrow::before {
	background-color: var(--dark__navigate-to-top-button-border);
}

body > #root > section#about-me > .right__container .next__section__arrow::after {
	right: 8px;
	transform: rotate(-45deg);
}

body > #root > section#about-me > .right__container .next__section__arrow:hover::before,
body > #root > section#about-me > .right__container .next__section__arrow:hover::after {
	animation: jumpUpAndBackHome 0.75s ease infinite;
}

body > #root > section#about-me > .right__container h2 {
	text-align: right;
}

@keyframes jumpUpAndBackHome {
	0% {
		top: 80px;
	}
	50% {
		top: 75px;
	}
	100% {
		top: 80px;
	}
}

/*
|--------------------------------------
| Section Coming Soon
|--------------------------------------
*/

body > #root > section#coming-soon {
	min-height: 110vh;
}

body > #root > section#coming-soon > h2 {
	font-size: 2rem;
	color: var(--text__color);
}
body.dark > #root > section#coming-soon > h2 {
	color: var(--dark__text__color);
}

body > #root > section#coming-soon > h3 {
	font-size: 1.5rem;
	color: var(--text__color);
}
body.dark > #root > section#coming-soon > h3 {
	color: var(--dark__text__color);
}

body > #root > section#coming-soon p {
	margin-top: 2rem;
	font-size: 1.25rem;
	word-spacing: 4px;
	color: var(--text__color);
	text-align: center;
	width: 75%;
}
body.dark > #root > section#coming-soon p {
	color: var(--dark__text__color);
}

body > #root > section#coming-soon > .empty__space {
	height: 50vh;
	margin-top: 5rem;
}

body > #root > section#coming-soon > .empty__space > p {
	font-size: 0.75rem;
}

/*
|--------------------------------------
| Section My Stack
|--------------------------------------
*/

body > #root > section#my-stack {
	min-height: 110vh;
	padding-bottom: 13rem;
}

body > #root > section#my-stack > h2 {
	font-size: 2rem;
	color: var(--text__color);
	box-shadow: var(--box-shadows-light-outset);
	padding: 0.5rem 1rem;
	border-radius: 1rem;
}
body.dark > #root > section#my-stack > h2 {
	color: var(--dark__text__color);
	box-shadow: var(--box-shadows-dark-outset);
}

body > #root > section#my-stack > h3 {
	font-size: 1.5rem;
	color: var(--text__color);
	box-shadow: var(--box-shadows-light-outset);
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	margin-top: 5rem;
}
body.dark > #root > section#my-stack > h3 {
	color: var(--dark__text__color);
	box-shadow: var(--box-shadows-dark-outset);
}

body > #root > section#my-stack > .stack__container {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
}

body > #root > section#my-stack > .stack__container > .stack__card {
	opacity: 0;
	width: 30%;
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 1rem;
	background-color: var(--bg__color__dark);
	border-radius: 1rem;
	box-shadow: var(--box-shadows-light-inset);
	transition: all 250ms ease-in-out;
}
body.dark > #root > section#my-stack > .stack__container > .stack__card {
	background-color: var(--dark__bg__color);
	box-shadow: var(--box-shadows-dark-inset);
}

body > #root > section#my-stack > .stack__container > .stack__card:hover {
	filter: brightness(1.03);
}
body.dark > #root > section#my-stack > .stack__container > .stack__card:hover {
	filter: brightness(1.5);
}

body > #root > section#my-stack > .stack__container > .stack__card > h3 {
	font-size: 1.5rem;
	color: var(--text__color);
	box-shadow: var(--box-shadows-light-outset);
	padding: 0.5rem 1rem;
	border-radius: 1rem;
}
body.dark > #root > section#my-stack > .stack__container > .stack__card > h3 {
	color: var(--dark__text__color);
	box-shadow: var(--box-shadows-dark-outset);
}

body > #root > section#my-stack > .stack__container > .stack__card > ul {
	margin: 1rem;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

body > #root > section#my-stack > .stack__container > .stack__card > ul > li {
	margin: 0.5rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--bg__color);
	color: var(--text__color);
}
body.dark > #root > section#my-stack > .stack__container > .stack__card > ul > li {
	background-color: var(--dark__bg__color);
	color: var(--dark__text__color);
}

/*
|--------------------------------------
| Animation for the cards
|--------------------------------------
*/

/* Card1 slideIn from the left */
@keyframes card1 {
	0% {
		opacity: 0;
		transform: translate(-200%, -200%);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes card2 {
	0% {
		opacity: 0;
		transform: translateY(200%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes card3 {
	0% {
		opacity: 0;
		transform: translate(200%, -200%);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes card4 {
	0% {
		opacity: 0;
		transform: translateX(-200%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes card5 {
	0% {
		opacity: 0;
		transform: translateX(200%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* card1 animation fadeInFromUpLeft to its position based on the parent container position */

@media screen and (max-width: 992px) {
	body > div#root > section {
		height: auto;
	}

	body > div#root > section#about-me {
		flex-direction: column;
	}
	body > div#root > section#about-me > div.left__container,
	body > div#root > section#about-me > div.right__container {
		width: 100%;
	}
	body > div#root > section#about-me > div.left__container h2,
	body > div#root > section#about-me > div.right__container h2 {
		font-size: 3rem;
	}
	body > div#root > section#about-me > div.left__container img {
		height: 12rem;
		width: 100%;
	}
	body > div#root > section#about-me > div.right__container {
		flex-direction: column-reverse;
		position: relative;
	}
	body > div#root > section#about-me > div.right__container a,
	body > div#root > section#about-me > div.right__container .next__section__arrow {
		position: absolute;
		bottom: 0;
		left: 50%;
		height: 40px;
		width: 40px;
		border-radius: 50%;
	}
	body > div#root > section#about-me > div.right__container .next__section__arrow::before {
		left: 4px;
	}
	body > div#root > section#about-me > div.right__container .next__section__arrow::after {
		right: 4px;
	}
	body > div#root > section#about-me > div.right__container .next__section__arrow::before,
	body > div#root > section#about-me > div.right__container .next__section__arrow::after {
		top: 20px;
	}
	body > #root > section#about-me > .right__container .next__section__arrow:hover::before,
	body > #root > section#about-me > .right__container .next__section__arrow:hover::after {
		animation: jumpUpAndBackHomeMobile 0.75s ease infinite;
	}
	@keyframes jumpUpAndBackHomeMobile {
		0% {
			top: 22.5px;
		}
		50% {
			top: 17.5px;
		}
		100% {
			top: 22.5px;
		}
	}
}
