body > #root > section#contact {
	display: flex;
	height: auto;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0 2rem;
	border-radius: 1rem;
	padding: 2rem;
	background-color: var(--bg__color);
	box-shadow: var(--box-shadows-light-inset);
	margin-bottom: 8rem;
}
body.dark > #root > section#contact {
	background-color: var(--dark__bg__color);
	box-shadow: var(--box-shadows-dark-inset);
}

body > #root > section#contact > h2 {
	color: var(--text__color);
	box-shadow: var(--box-shadows-light-thin);
	border-radius: 1rem;
	padding: 1rem 2rem;
	margin-bottom: 2rem;
}
body.dark > #root > section#contact > h2 {
	color: var(--dark__text__color);
	box-shadow: var(--box-shadows-dark-thin);
}

@media screen and (orientation: portrait) and (max-width: 600px) {
	body > #root > section#contact {
		height: auto;
		margin-bottom: 4rem;
	}
}

@media screen and (orientation: landscape) and (max-width: 812px) {
	body > #root > section#contact {
		height: auto;
		margin-bottom: 4rem;
	}
}
