:root {
	--terminal-color-bg: #252a33;
	--terminal-color-text: #eee;
	--terminal-color-text-subtle: #58d287;
	--terminal-color-opening-closing: #df396b;
	--terminal-color-spinner: #fd8331;
}

/* 
|----------------------------------
| Flip Card
|---------------------------------- 
*/

.flip__terminal {
	background-color: transparent;
	min-width: 300px;
	max-width: 100%;
	min-height: 365px;
	border-radius: 6px;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip__terminal__inner {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s 6s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip__terminal:hover .flip__terminal__inner {
	transform: rotateY(180deg);
}

.flip__terminal:hover .cont {
	display: block;
}

/* Position the front and back side */
.flip__terminal__front,
.flip__terminal__back {
	position: absolute;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip__terminal__front {
	background-color: #bbbbbb00;
	color: black;
}

/* Style the back side */
.flip__terminal__back {
	min-width: 750px;
	background-color: transparent;
	color: white;
	transform: rotateY(180deg);
}

/* 
|----------------------------------
| terminal
|---------------------------------- 
*/

[data-terminal] {
	width: 750px;
	max-width: 100%;
	background: var(--terminal-color-bg);
	color: var(--terminal-color-text);
	font-size: 18px;
	font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
	border-radius: 6px;
	padding: 75px 45px 35px;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

[data-terminal]:before {
	z-index: 10;
	content: '';
	position: absolute;
	top: 15px;
	left: 15px;
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	/* A little hack to display the window buttons in one pseudo element. */
	background: #d9515d;
	-webkit-box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
	box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
}

/* We create a black navbar with the ::after pseudo element */
[data-terminal]::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	background: #000;
	border-radius: 6px 6px 0 0;
}

[data-ty] {
	display: block;
	line-height: 2;
}

[data-ty]:before {
	/* Set up defaults and ensure empty lines are displayed. */
	content: '';
	display: inline-block;
	vertical-align: middle;
}

[data-ty='input']:before,
[data-ty-prompt]:before {
	font-family: 'Fire Code', monospace;
	font-size: 12px;
	margin-right: 0.75em;
	color: var(--terminal-color-text-subtle);
}

[data-ty='input']:before {
	content: '$';
}

[data-ty][data-ty-prompt]:before {
	content: attr(data-ty-prompt);
}

[data-ty-cursor]:after {
	content: attr(data-ty-cursor);
	font-family: monospace;
	margin-left: 0.5em;
	-webkit-animation: blink 1s infinite;
	animation: blink 1s infinite;
}

/*
|----------------------------------
| Opening and closing animation (spinner)
|---------------------------------- 
 */

.cont {
	display: none;
	z-index: 10;
	width: 40px;
	height: 40px;
	position: absolute;
	text-align: center;
	font-weight: bold;
	top: 2.5px;
	right: 2.5px;
	border-radius: 50%;
	overflow: hidden;
}
.cont::after {
	content: '';
	width: 35px;
	height: 35px;
	position: absolute;
	top: 2.5px;
	right: 2.75px;
	border-radius: 50%;
	background: #000;
}

.spinner {
	position: absolute;
	top: 22.5px;
	right: 0;
	width: 25px;
	height: 35px;
	transform-origin: 0 0;
	background-image: linear-gradient(var(--terminal-color-spinner), transparent);
	animation: spin 1s infinite linear;
}

.number {
	position: absolute;
	top: -5px;
	left: 0;
	z-index: 2;
	width: 40px;
	height: 40px;
}
.number::after {
	content: '';
	width: 40px;
	height: 40px;
	color: var(--terminal-color-spinner);
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
	line-height: 50px;
	animation: count 7s infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

@keyframes count {
	0%,
	100% {
		content: '5';
	}
	15% {
		content: '4';
	}
	30% {
		content: '3';
	}
	45% {
		content: '2';
	}
	60% {
		content: '1';
	}
	75% {
		content: '0';
	}
	90% {
		content: 'GO';
	}
}

/* Cursor animation */

@-webkit-keyframes blink {
	50% {
		opacity: 0;
	}
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
