<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="style.css">
		<script src="https://kit.fontawesome.com/89ed478db9.js" crossorigin="anonymous"></script>
		<title>Flip Card</title>
	</head>
	<body>

		<div class="flip__terminal">
			<div class="flip__terminal__inner">
				<div class="flip__terminal__front border__effect">
					<div class="cont">
						<div class="spinner"></div>
						<span class="number"></span>
					</div>
					<div id="terminal-front" data-terminal data-ty-typedelay="40" data-ty-linedelay="700">
						<span data-ty="input" data-ty-prompt="▲">npm install flipping-terminal</span>
						<span data-ty>Are you sure you want to install 'flipping-terminal'?</span>
						<span data-ty="input" data-ty-typedelay="1000" data-ty-prompt="(y/n)">y</span>
						<span data-ty="progress" data-ty-progresschar="·"></span>
						<span data-ty>'flipping-terminal' installed</span>
						<span data-ty="input" data-ty-prompt="▲">want to know what's under the hood?</span>
						<span data-ty="input" data-ty-prompt="▲ hover">this terminal!!</span>
					</div>
				</div>
				<div class="flip__terminal__back">
					<div id="terminal-back" data-terminal data-ty-typedelay="20" data-ty-linedelay="400">
						<div data-ty>
							<i class="fa-brands fa-html5"></i>
							<i class="fa-brands fa-css3-alt"></i>
							<i class="fa-brands fa-square-js"></i>
						</div>
						<div data-ty="input" data-ty-prompt="👨‍💻">Here's the HTML behind this terminal...</div>
						<div data-ty="input" data-ty-prompt="1">
							<span class="code">
								&lt;div id="terminal" data-terminal data-ty-typeDelay="40" data-ty-lineDelay="700"&gt;
							</code>
						</div>
						<div data-ty="input" data-ty-prompt="2">
							<span class="code">
								&nbsp;&nbsp;&nbsp;&nbsp;&lt;div data-ty&gt;&lt;i class="fa-brands fa-html5"&gt;&lt;/i&gt;    &lt;i class="fa-brands fa-css3-alt"&gt;&lt;/i&gt;    &lt;i class="fa-brands fa-square-js"&gt;&lt;/i&gt;&lt;/div&gt;
							</code>
						</div>
						<div data-ty="input" data-ty-prompt="3">
							<span class="code">
								&nbsp;&nbsp;&nbsp;&nbsp;&lt;div data-ty="input" data-ty-prompt="👨‍💻"&gt;
							</code>
						</div>
						<div data-ty="input" data-ty-prompt="4">
							<span class="code">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Here we display this code!!
							</code>
						</div>
						<div data-ty="input" data-ty-prompt="5">
							<span class="code">
								&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
							</code>
						</div>
						<div data-ty="input" data-ty-prompt="6">
							<span class="code">
								&lt;/div&gt;
							</code>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="script.js"></script>
		<script>
			var terminal = new Terminal ('#terminal-front');
		</script>
	</body>
</html>
