.flip__terminal__front {
	border: 0;
	box-sizing: border-box;
	box-shadow: inset 0 0 0 4px transparent;
	position: relative;
	vertical-align: middle;
}

.flip__terminal__front::before,
.flip__terminal__front::after {
	box-sizing: inherit;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
}

.border__effect {
	transition: color 0.25s;
}
.border__effect::before,
.border__effect::after {
	/* Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts */
	border: 4px solid transparent;
	width: 0;
	height: 0;
}
/* This covers the top & right borders (expands right, then down) */
.border__effect::before {
	top: 0;
	left: 0;
}
/* And this the bottom & left borders (expands left, then up) */
.border__effect::after {
	bottom: 0;
	right: 0;
}
.flip__terminal__front:hover .border__effect {
	color: #ff7300d8;
}
.flip__terminal__front:hover .border__effect::before,
.flip__terminal__front:hover .border__effect::after {
	width: 100%;
	height: 100%;
}
.flip__terminal__front:hover .border__effect::before {
	border-top-color: #ff7300d8; /* bottom color */
	border-right-color: #ff7300d8; /* right color */
	transition: width 0.25s ease-out, /* expand width first */ height 0.25s ease-out 0.25s; /* then height */
}
.flip__terminal__front:hover .border__effect::after {
	border-bottom-color: #ff7300d8; /* top color */
	border-left-color: #ff7300d8; /* left color */
	transition: border-color 0s ease-out 0.5s, /* delay for half of the width expansion */ width 0.25s ease-out 0.5s,
		/* then width */ height 0.25s ease-out 0.75s; /* expand height first */
}
