<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<script src="https://kit.fontawesome.com/89ed478db9.js" crossorigin="anonymous"></script>
	<title>Terminal component</title>
</head>
<body>
	<div id="termynal" data-termynal data-ty-typeDelay="20" data-ty-lineDelay="400">
		<div data-ty><i class="fa-brands fa-html5"></i>    <i class="fa-brands fa-css3-alt"></i>    <i class="fa-brands fa-square-js"></i></div>
		<div data-ty="input" data-ty-prompt="👨‍💻">Here's what happens behind this terminal...</div>
		<div data-ty="input" data-ty-prompt="1">
			<code>
				&lt;div id="termynal" data-termynal data-ty-typeDelay="40" data-ty-lineDelay="700"&gt;
			</code>
		</div>
		<div data-ty="input" data-ty-prompt="2">
			<code>
				&nbsp;&nbsp;&nbsp;&nbsp;&lt;div data-ty&gt;&lt;i class="fa-brands fa-html5"&gt;&lt;/i&gt;    &lt;i class="fa-brands fa-css3-alt"&gt;&lt;/i&gt;    &lt;i class="fa-brands fa-square-js"&gt;&lt;/i&gt;&lt;/div&gt;
			</code>
		</div>
		<div data-ty="input" data-ty-prompt="3">
			<code>
				&nbsp;&nbsp;&nbsp;&nbsp;&lt;div data-ty="input" data-ty-prompt="👨‍💻"&gt;
			</code>
		</div>
		<div data-ty="input" data-ty-prompt="4">
			<code>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Here we display this code!!
			</code>
		</div>
		<div data-ty="input" data-ty-prompt="5">
			<code>
				&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
			</code>
		</div>
		<div data-ty="input" data-ty-prompt="6">
			<code>
				&lt;/div&gt;
			</code>
		</div>
	</div>

	<script src="script.js"></script>
	<script>
		var termynal = new Termynal('#termynal');
	</script>
</body>
</html>