<header>
	<div class="hamburger__menu__container">
		<div class="hamburger__menu__icon"></div>
	</div>

	<h1>Cool Navbar Effect</h1>

	<nav>
		<h2>Sébastien P.</h2>
		<div class="close">
			<div></div>
		</div>
		<ul class="menu__ul">
			<li class="menu__li">
				<div class="li__border"></div>
				<div class="li__content">
					<a class="li__link" href="https://http.cat/404">Home</a>
				</div>
			</li>
			<li class="menu__li">
				<div class="li__border"></div>
				<div class="li__content">
					<a class="li__link" href="https://http.cat/504">Projects</a>
				</div>
			</li>
			<li class="menu__li">
				<div class="li__border"></div>
				<div class="li__content">
					<a class="li__link" href="https://http.cat/204">About</a>
				</div>
			</li>
			<li class="menu__li">
				<div class="li__border"></div>
				<div class="li__content">
					<a class="li__link" href="https://http.cat/304">Contact</a>
				</div>
			</li>
		</ul>
	</nav>
</header>
